@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oxygen:wght@300&family=Ubuntu&display=swap');

/* Set the font families */
body {
  background-color: #94999e;
  font-family: 'Open Sans', Oxygen, Ubuntu;
  font-size: 22 px;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

.home-title, .msg h2 {
  font-family: 'Open Sans', Oxygen, Ubuntu;
  font-size: 2em;
  margin-top: 10px;
}

/* Rest of the CSS code */

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
  color: #ffffff;
  padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
  margin-bottom: 35px;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #94999e;
}

body {
  background-color: #617694;
}

header {
  background-color: #1f304b;
}

nav a:hover {
  background-color: #223959 ;
}

.book, .join {
  background-color: #94999e;
  color: #ffffff;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: #F8D557;
  color: #ffffff;
}

.msg {
  background-color: #94999e;
  padding: 35px;
  line-height: 1.5em;
}

footer {
  background-color: #1f304b;
  color: #ffffff;
  padding: 25px 50px;
  margin-top: 200px;
}

nav a {
  color: #ffffff;
}

nav a:hover {
  color: #F8D557;
}

.home-title {
  color: #F8D557;
}

h4 {
  color: #ffffff;
}

.book, .join {
  color: #ffffff;
}

.book:hover, .join:hover {
  color: #ffffff;
  margin-bottom: 10px;
}

.msg h2 {
  color: #F8D557;
  margin: 0;
}

.msg p {
  color: #ffffff;
  font-size: 0.8em;
  padding-bottom: 15px;
}

footer a {
  color: #ffffff;
}

footer a:hover {
  color: #F8D557;
}

.icon {
  width: 60px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#hero-img {
  width: 100%;
}

nav a, .book, .join, footer a {
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
  padding-top: 15px;
}

.river-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #F8D557;
  margin-bottom: 20px;
}

main section img {
  box-sizing: border-box;
}

footer .social img {
  padding-top: 15px;
}

#logo_link {
  padding-top: 5px;
}

.mountains {
  padding-bottom: 200px;
  padding-top: 200px;
}