@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Stint+Ultra+Expanded&family=Tenor+Sans&display=swap');


 :root {
  --nav-hover-link-color: #f0ebe1;
  --nav-hover-background-color: #313030;
  --button-hover-link-color: #f0ebe1;
  --button-hover-background-color: rgba(49, 48, 48, 0.5);
  --headline-color-on-white: #313030;  
  --headline-color-on-color: #f0ebe1; 
  --paragraph-color-on-white:  #000000;  
  --paragraph-color-on-color: #f0ebe1; 
  --paragraph-background-color: #8A8988;
  --nav-link-color: #f0ebe1;
  --nav-background-color: #313030;
  --nav-hover-link-color: #f0ebe1;
  --nav-hover-background-color: #8A8988;

}
  
  body {
    margin: 0;
    
  }
  
  #content {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: 0;
    font-size: 16px;
    font-family: 'Tenor Sans', Quicksand;

  }
  
  .logo {
    max-width: 120px;
    
  }
  
  #logo_link {
    flex: 0 0 auto;
  }

  
  
  nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 18px;
    
  
  }

  
  nav a:hover {
    color: #f0ebe1;
    background-color: rgba(49, 48, 48, 0.5);
    box-shadow: 5px 20px 10px black;
  
  }
  
  nav a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #808080;
    color: #f0ebe1;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 60px;
    padding-bottom: 5px;
    border-bottom: none;
    font-size: 18px;
    font-family: 'Tenor Sans', Quicksand;
  
  }
  
  
  main section {
    display: flex;
    align-items: center;
    height: 80vh;
    margin: 0 auto;
    background-color: white;
  }
  
  h2 {
   
    font-size: 85px;
    font-family: 'Stint Ultra Expanded', 'Tenor Sans';
  }
  
  p {
    color: #f0ebe1;
    font-family: Quicksand, 'Stint Ultra Expanded', 'Tenor Sans';
   
  }
  
  #image1,
  #image2,
  #image3,
  #image4 {
    max-width: 50%;
    height: auto;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(30, 30, 31);
    border-radius: 5px;
  }
  
  #text-box,
  #text-box2,
  #text-box3,
  #text-box4 {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;

  }
  
  #text-box h2,
  #text-box2 h2,
  #text-box3 h2,
  #text-box4 h2 {
    font-size: 72px;
    margin-bottom: 5px;
    margin-top: 0;
    color:#000000;
    
  }
  
  #text-box p,
  #text-box2 p,
  #text-box3 p,
  #text-box4 p {
    font-size: 17px;
    margin-top: 0;
  }
  
  #text-box3,
  #text-box2,
  #text-box,
  #text-box4 {
    background-color: #808080;
    padding: 50px;
    box-shadow: 5px 5px 10px rgb(30, 30, 31);
    margin-right: 15px;
    margin-left: 7px;
    border-radius: 5px;
    text-align: justify;
    
  }

  #text-box h2:hover,
  #text-box2 h2:hover,
  #text-box3 h2:hover,
  #text-box4 h2:hover {
    opacity: 0.9;
    transform: scale(1.1);


  }
  
  .footer-bottom {
    color: #f0ebe1;
    margin-bottom: -50px;
    margin-top: 100px;
  }
  
  .social {
    margin-top: 25px;
  }
  
  .social a {
    margin-right: 10px;
  }
  
  .social img {
    width: 35px;
    border-radius: 5px;
    box-shadow: 5px 20px 10px rgb(30, 30, 31);
    
  }

  .social img:hover {
    box-shadow: 5px 10px 10px var(--paragraph-color-on-white);

  }
  
  .col-six {
    bottom: 30px;
    left: 10px;
  }
  
  .col-six  {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
  }
  
  footer {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0%;
    color: #f0ebe1;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 115px;
  }
  
  footer .row {
    filter: brightness(70%);
  }
  
  #go-top {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  #go-top a {
    color: #f0ebe1;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 16px;
    font-family: Quicksand;
    font-size: 12px;
    color: #f0ebe1;
  }
  
  .site-plan-link {
    color: #f0ebe1;
    text-decoration: none;
  }
