
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Stint+Ultra+Expanded&family=Tenor+Sans&display=swap');


:root {
  --nav-hover-link-color: #f0ebe1;
  --nav-hover-background-color: #313030;
  --button-hover-link-color: #f0ebe1;
  --button-hover-background-color: rgba(49, 48, 48, 0.5);
  --headline-color-on-white: #313030;  
  --headline-color-on-color: #f0ebe1; 
  --paragraph-color-on-white:  #000000;  
  --paragraph-color-on-color: #f0ebe1; 
  --paragraph-background-color: #8A8988;
  --nav-link-color: #f0ebe1;
  --nav-background-color: #313030;
  --nav-hover-link-color: #f0ebe1;
  --nav-hover-background-color: #8A8988;
  
  }

header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
  font-size: 16px;
  font-family: 'Tenor Sans', Quicksand;

}

#content {
  padding-top: 50px;
  padding-bottom: 50px;

}

.logo {
  max-width: 120px;

}

#logo_link {
  grid-column: 1;

}

nav {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 18px;
  

}


nav a:hover {
  color: #f0ebe1;
  background-color: rgba(49, 48, 48, 0.5);
  box-shadow: 5px 20px 10px black;

}

nav a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #808080;
  color: #f0ebe1;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 60px;
  padding-bottom: 5px;
  border-bottom: none;
  font-size: 18px;
  font-family: 'Tenor Sans', Quicksand;

}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
  font-family: 'Tenor Sans', Quicksand;
  
}

.button a {
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #808080;
  color: #f0ebe1;
  font-size: 18px;

}

.button a:hover {
  color: #f0ebe1;
  background-color: rgba(49, 48, 48, 0.5);
  box-shadow: 5px 20px 10px black;
}

#home {
  display: flex;
  justify-content: flex-end;
}

#home-content {
  text-align: right;
  margin-right: 65px;
  margin-top: 38vh;
}

#home-content h2 {
  color: white;
  text-align: right;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: 'Stint Ultra Expanded', 'Tenor Sans';
  font-size: 30px;
  
}

.home-title {
  color: #f0ebe1;
  margin-bottom: -15px;
  font-size: 85px;
  font-family: 'Stint Ultra Expanded', 'Tenor Sans';
}

.col-six {
  position: fixed;
  bottom: 30px;
  left: 10px;
}

.col-six .copyright {
  color: rgba(0, 0, 0, 0.5);
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #f0ebe1;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: 188px;
  
}

footer .row {
  filter: brightness(70%);
  padding: 30px;
  margin-top: 30px;

}

.social img {
  width: 35px;
  border-radius: 5px;
  box-shadow: 5px 20px 10px rgb(30, 30, 31);
  
}

.social img:hover {
  box-shadow: 5px 10px 10px var(--paragraph-color-on-white);

}

  

#go-top {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#go-top a {
  color: #f0ebe1;
  text-decoration: none;
}

.footer-bottom {
  margin-top: -10px;
  color: #f0ebe1;
  font-family: Quicksand;
  font-size: 12px;
}

.site-plan-link {
  color: #f0ebe1;
  text-decoration: none;
}

.site-plan-link:hover {
  font-size: 1.2em;
}
