:root {
    --nav-hover-link-color: #f0ebe1; 
    --nav-hover-background-color: rgba(49, 48, 48, 0.5);
    --button-hover-link-color: #f0ebe1; 
    --button-hover-background-color: rgba(49, 48, 48, 0.5); 
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    margin: 0;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.logo {
    max-width: 140px; 
}

#logo_link {
    flex: 0 0 auto;
    
}

nav {
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
 
}

nav a {
    margin-left: 10px;
    margin-right: 60px;
    color: #f0ebe1;
    text-decoration: none; 
    padding-bottom: 5px; 
    border-bottom: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);

}


nav a,
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #808080;
    color: #f0ebe1;
    text-decoration: none;
}


.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 10px; 
    
}

.button a {
    color: #f0ebe1;
    padding: 8px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.button a:hover {
    color: var(--button-hover-link-color);
    background-color: rgb(61, 59, 59);
    background-size:0%;
    transform: scale(1.1);
    
  }


#home {
    display: flex;
    justify-content: flex-end;
}

#home-content {
    text-align: right;
    margin-right: 65px;
    margin-top: 38vh;
}

#home-content h2 {
    color: #f0ebe1;
    text-align: right;
    
}

.home-title {
    color: #f0ebe1;
    margin-bottom: -15px;
    font-size: 100px;
}



.copyright {
    color: #f0ebe1;
    margin-bottom: -50px;

} 


.social {
    margin-top: 65px;
        }

.social a {
    margin-right: 10px;
}


.social img {
    width: 50px; 
}

.col-six {
    position: fixed;
    bottom: 30px;
    left: 10px;
}

.col-six .copyright {
    color: rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #f0ebe1;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 200px;
    
}

footer .row {
    filter: brightness(70%);
}


#go-top {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#go-top a {
    color: #f0ebe1;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 30px; 
}

.site-plan-link {
    color: #f0ebe1; 
    text-decoration: none;
}

.site-plan-link:hover {
    font-size: 1.2em;
}